<h3>Welcome !</h3>
<div>Please register to access the platform</div>

<form id="registrationForm">
      <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="fname" placeholder="First name" required >
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="lname" placeholder="Last name" required>
            </div>
      </div>

      <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="email" id="email" placeholder="Email" required>
            </div>
      </div>

      <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="phone" id="phone" placeholder="Emergency phone number" required>
            </div>
      </div>
      <button type="submit" id="registrationBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Register me !</button>
</form>