<h3>Hello, who are you ?</h3>


<form id="memberLoginForm">
      <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="email" id="loginemail" required>
                  <label class="mdl-textfield__label" for="email">Email</label>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield">
                  <button type="button" id="registrationBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Login</button>
            </div>
      </div>
</form>