<div class="Banned">
    <h3>Sorry {{email}}, you are banned !</h3>

    <div class="mdl-cell mdl-cell--2-col mdl-textfield mdl-js-textfield">
        <button type="button" id="logout" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Logout</button>
    </div>
</div>