<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <i class="material-icons">directions_bike</i>
      <span class="mdl-layout-title">Sky Bikes - Bike to the Sky !</span>
      <i class="material-icons">cloud_queue</i>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
      <a id="tabCustomer" href="">Customer</a>
      <a id="tabMember" href="">Member</a>
      <a id="tabSysAdmin" href="">SysAdmin</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    {{> view}}
  </main>
</div>