.App {
  .mdl-layout__header {
    background-color: pink;

    i.material-icons {
      font-size: 3em;
      margin: 0 20px;
      color: lavender;
    }
  }

  .rental-instructions {
    font-size: 1.2em;
    color: lightgray;
  }

  .title-logout,
  .rental-instructions {
    display: flex;
    justify-content: space-between;
  }

  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
  }

  .mdl-navigation a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }

  .mdl-layout__content {
    margin: 0 100px;
  }

  .Admin {
    .mdl-data-table tbody tr:nth-child(odd) {
      background-color: #eaeaea;
    }
  }

  .stations-cards {
    display: flex;

    .mdl-card {
      margin: 20px 10px;
    }
  }

  .mdl-data-table {
    margin: 0 auto;
  }

  .timer-countdown {
    color: deeppink;
    font-size: 1.5em;
  }
}
